<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<br>
		<div class="row">
			<p class="lead">
				Graduate Admissions: The Student Edition
			</p>
		</div>
		<div class="row" data-ng-show="authentication.user">
			<section  data-ng-controller="ApplicationsController" data-ng-init="find()">
			<div data-ng-repeat="application in applications" data-ng-show="authentication.user._id == application.user._id">
				<a class="btn btn-primary btn-lg" href="/#!/applications/{{application._id}}/edit">Your Application</a>
			</div>
			</section>
		</div>
		<div class="row" data-ng-hide="authentication.user">
			<p>
				<a class="btn btn-primary btn-lg" id = "bt1" href="/#!/signin">Apply now</a>
			</p>
		</div>
	</div>
	<center><iframe name="cleverbot" width=540 height=340 allowtransparency=true frameborder=0 scrolling=yes src="http://www.cleverbot.com/cleverbotif"></iframe></center>
</section>